<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT>">
			<PatternLayout pattern="%d [%t] %highlight{%5p} %c::%M():%L - %m%n"> </PatternLayout>
		</Console>
		<File name="FileAppender" fileName="logs/application.log">
			<PatternLayout pattern="%d [%t] %highlight{%5p} %c::%M():%L - %m%n"> </PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<root level="info">
			<AppenderRef ref="Console"></AppenderRef>
			<AppenderRef ref="FileAppender"></AppenderRef>
		</root>
	</Loggers>
</Configuration>